<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://img.icons8.com/clouds/344/home.png" id="icon" alt="User Icon"/>
    </div>

    <!-- Login Form -->
    <form>
      <div class="form-wrapper">
        <div>
          <label for="first"></label>
          <input type="text" id="first" class="fadeIn first" placeholder="First Name">
        </div>
        <div>
          <label for="last"></label>
          <input type="text" id="last" class="fadeIn first " placeholder="Last Name">
        </div>
        <div class="full-row">
          <label for="address1"></label>
          <input type="text" id="address1" class="fadeIn second " placeholder="Address Line 1">
        </div>
        <div>
          <label for="address2"></label>
          <input type="text" id="address2" class="fadeIn third " placeholder="Address Line 2">
        </div>
        <div>
          <label for="first"></label>
          <input type="text" id="county" class="fadeIn fourth" placeholder="County">
        </div>
        <div>
          <label for="first"></label>
          <input type="text" id="country" class="fadeIn fourth" placeholder="Country">
        </div>
        <div>
          <label for="last"></label>
          <input type="text" id="eircode" class="fadeIn fourth " placeholder="Eircode">
        </div>
        <div class="full-row">
          <input type="submit" class="fadeIn fourth" value="add address">
        </div>
      </div>

    </form>


  </div>
</div>
