<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://img.icons8.com/clouds/344/home.png" id="icon" alt="User Icon"/>
    </div>

    <!-- Login Form -->

    <form [formGroup]="addAddressForm" (ngSubmit)="onAdd()">
      <div class="form-wrapper">
        <div>
          <input type="text" formControlName="firstName" id="firstName" class="fadeIn first" placeholder="First Name">
        </div>
        <div>
          <input type="text" formControlName="lastName" id="lastName" class="fadeIn first " placeholder="Last Name">
        </div>
        <div >
          <input type="text" formControlName="address1" id="address1" class="fadeIn second "
                 placeholder="Address Line 1">
        </div>
        <div>
          <input type="text" formControlName="address2" id="address2" class="fadeIn third "
                 placeholder="Address Line 2">
        </div>
        <div >
          <input type="text" formControlName="city" id="city" class="fadeIn second "
                 placeholder="City">
        </div>
        <div>
          <input type="text" formControlName="county" id="county" class="fadeIn fourth" placeholder="County">
        </div>
        <div>
          <input type="text" formControlName="country" id="country" class="fadeIn fourth" placeholder="Country">
        </div>
        <input type="text" formControlName="eirCode" id="eircode" class="fadeIn fourth " placeholder="Eircode">

        <div class="full-row">
          <input type="submit" class="fadeIn fourth" value="add address">
        </div>
      </div>

    </form>


  </div>
</div>
