<div class="container py-5" *ngIf="!loading">
  <div class="row pb-1">
    <input type="button" [routerLink]="['/add-item']" *ngIf="userService.isAdmin() | async" value="Add item">
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input type="search" [formControl]="itemFilterControl" placeholder="Search" aria-label="Search">
      <input type="submit" value="Search">
    </form>
  </div>
  <div class="row pb-5 mb-4">
    <div *ngFor="let item of items | filterItems: itemFilterControl.value" class="col-lg-3 col-md-6 mb-4 mb-lg-0" >
      <!-- Card-->
      <div class="card rounded shadow-lg border-0 bottom-margin " >
          <div class="card-body p-4 "><img
            [src]="getImage(item.image)" alt=""
            class="img-fluid d-block mx-auto mb-3" (click)="onViewItem(item.id)">
            <h4 (click)="onViewItem(item.id)" >{{item?.title}}</h4>
            <p class="small text-muted font-italic">{{item?.manufacturer}}</p>
            <h5 >€{{item?.price}}</h5>
            <div class="d-flex flex-row-reverse">
              <button class="btn btn-primary tooltips btn-margin" *ngIf="userService.isAdmin() | async" data-placement="top"
                 data-toggle="tooltip"  (click)="onEditItem(item)"
                 data-original-title="Edit">
                <fa-icon icon="edit" class="font1-size"></fa-icon>
              </button>
              <button class="btn btn-danger tooltips btn-margin" *ngIf="userService.isAdmin() | async" data-placement="top"
                 data-toggle="tooltip" (click)="onDeleteItem(item.id)"
                 data-original-title="Delete">
                <fa-icon icon="times" class="font1-size"></fa-icon>
              </button>
            </div>
          </div>

      </div>
    </div>

  </div>
</div>
