<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://img.icons8.com/clouds/344/create-new.png" id="icon" alt="User Icon"/>
    </div>

    <!-- Login Form -->
    <form [formGroup]="addUserForm" (ngSubmit)="onAdd()">

      <input type="text" formControlName="name"class="fadeIn first" name="login" placeholder="Name">

      <input type="text" formControlName="email"class="fadeIn second" name="login" placeholder="Email">

      <input type="text" formControlName="phoneNumber"class="fadeIn third" name="phone" placeholder="Phone Number">

      <input type="password" formControlName="password"class="fadeIn fourth" name="login" placeholder="Password">

      <input type="password"class="fadeIn fifth" name="login" placeholder="Repeat Password">
      <input type="submit" class="fadeIn fifth" (click)="onRegisterClick()" value="Register">
    </form>

    <!-- Register -->
    <div id="formFooter">
      <a [routerLink]="['/login']">Already have an account? Login</a>
    </div>

  </div>
</div>
