<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://img.icons8.com/clouds/500/000000/stationery.png" id="icon" alt="User Icon"/>
    </div>


    <input type="text" [(ngModel)]="item.title" class="fadeIn first" placeholder="Title">

    <input type="text" [(ngModel)]="item.manufacturer" class="fadeIn first" placeholder="Manufacturer">

    <input type="text" [(ngModel)]="item.price" class="fadeIn second" placeholder="Price">

    <input type="text" [(ngModel)]="item.category" class="fadeIn second" placeholder="Category">

    <input type="text" [(ngModel)]="item.description" class="fadeIn third" placeholder="Description">

    <input type="text" [(ngModel)]="item.amount" class="fadeIn third" placeholder="Stock Amount">

    <input type="submit" class="fadeIn fourth" (click)="onUpdateItem()"  value="Confirm">
    <input type="button" class="fadeIn fourth" (click)="onCancelNav()" value="Cancel">


  </div>
</div>
