<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://img.icons8.com/clouds/2x/bank-card-back-side.png" id="icon" alt="User Icon"/>
    </div>

    <!-- Login Form -->
    <form>
      <label for="login"></label>
      <input type="text" id="login" class="fadeIn first" name="login" placeholder="Card Number">
      <div class="form-wrapper">
        <div>
          <label for="month">
            <input type="number" placeholder="MM" id="month" class="fadeIn second ">
          </label>
        </div>
        <div>
          <label>
            <input type="number" placeholder="YY" id="year" size="5" class="fadeIn second ">
          </label>
        </div>
        <div>
          <label>
            <input type="number" class="fadeIn second " placeholder="CVV"/>
          </label>
        </div>
      </div>
      <input type="submit" class="fadeIn third" value="Add Card">
    </form>

  </div>
</div>
