<nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3 mb-5">
  <a class="navbar-brand" href="/">
    <span class=" ml-3 font-weight-bold kiwi mat-display-1"><span
      class="main-color">Bit</span><span>connect</span></span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <div class="btn-toolbar ml-auto">
      <fa-icon icon="shopping-cart" class="font1-size"></fa-icon>
      <input type="button" [routerLink]="['/login']" value="Login">
      <input type="button" value="Logout">
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
